@page "/booklist"

<h1>Books List</h1>




@if (Books == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Books)
        {
            <tr>    
                <td><img src="@book.CoverImageUrl" width="75" /></td>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Category</td>
                <td>
                    <a href="@($"bookreader/{book.Id}")" class="btn btn-success">Read</a>
                    <a href="@($"bookdetails/{book.Id}")" class="btn btn-primary">Details</a>
                    <a href="@($"/bookedit/{book.Id}")" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}